// Dashboard.scss

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .dashboard-form {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      span {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    input,
    select {
      width: 100%;

      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
      }
    }

    input[type="time"] {
      appearance: none;
    }

    select {
      height: 32px;
      padding-bottom: 5px;
    }

    .buttons {
      .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:disabled {
          background-color: #999;
          cursor: not-allowed;
        }

        &:hover {
          background-color: #0056b3;
        }

        &.cancel {
          background-color: #dc3545;
          margin-top: 10px;

          &:hover {
            background-color: #a71d2a;
          }
        }
      }
    }

    p {
      margin-top: 10px;
      color: #007bff;
      font-weight: bold;
      font-size: 14px;
    }

    .error {
      color: #dc3545;
      font-weight: bold;
    }
  }
}
